@model List<QLBenhVien.Entities.Permission>

<aside>
    <ul class="sidebar-menu">
        @foreach (var permission in Model)
        {
            if (!string.IsNullOrEmpty(permission.PermissionName))
            {

                if (permission.PermissionName.StartsWith("Modify_"))
                {
                    var controllerName = permission.PermissionName.Split('_')[1];
                    var displayName = GetDisplayName(controllerName);

                    <li class="dropdown">
                        <a href="#">@displayName ▸</a>
                        <ul class="submenu">
                            <li><a asp-controller="@controllerName" asp-action="Create">Tạo mới</a></li>
                            <li><a asp-controller="@controllerName" asp-action="Index">Xem danh sách</a></li>
                            <li><a asp-controller="@controllerName" asp-action="Edit">Chỉnh sửa</a></li>
                            <li><a asp-controller="@controllerName" asp-action="Delete">Xóa</a></li>
                        </ul>
                    </li>
                }
                else if (permission.PermissionName.StartsWith("View_"))
                {
                    var controllerName = permission.PermissionName.Split('_')[1];
                    var displayName = GetDisplayName(controllerName);

                    <li>
                        <a asp-controller="@controllerName" asp-action="Index">@displayName</a>
                    </li>
                }
            }
        }
    </ul>
</aside>

<link rel="stylesheet" href="~/css/sidebar.css" />

@functions {
    private string GetDisplayName(string controllerName)
    {
        switch (controllerName)
        {
            case "PhongBan": return "Quản lý phòng ban";
            case "Khoa": return "Quản lý khoa";
            case "BacSi": return "Quản lý bác sĩ";
            case "NhanVien": return "Quản lý nhân viên";
            case "LichLamViec": return "Quản lý lịch làm việc";
            case "ChamCong": return "Chấm công";
            case "Luong": return "Lương";
            default: return controllerName;
        }
    }
}
